{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel='stylesheet' href="{% static "blog/post.css" %}"/>
    <link rel='stylesheet' href="{% static "blog/index.css" %}"/>
{% endblock css_files %}

{% block content %}
    
    <section id='welcome'>
        <header>
            <img src="{% static "blog/images/deepak.jpeg" %}" alt='Deepak - The author of this Blog'/>
            <h2>Deepak's Blog</h2>
        </header>
        <p>Hi, my name is Deepak Jangir and I learn to code by making projects!</p>
    </section>

    <section id='latest-posts'>
        <h2>My latest thoughts</h2>

        <ul>
            {% for post in posts  %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        <ul>
    </section>

    <section id='about'>
        <h2>What I Do</h2>
        <p>I love programming, I love to help others and I enjoy exploring new technologies in general</p>
        <p>Goal is to grow as a developer and help others with coding!!</p>
    </section>
{% endblock content %}
